.evento {
	text-align: center;
	
}
.evento p {
	color: rgb(187, 34, 93);
}

.atracoes .imagem{
	width: 300px;
	height: 300px;
	border-style: solid 0px;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;

}
p{
    text-align: justify;
}
p{
    text-indent: 2.5%;
}
a:hover{
   color: dimgray ;
    transition: 0.5s;
}
.imagem:hover{
	animation-name: claudio;
	animation-duration: 1s;}


@keyframes claudio {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}
}
